@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

body {
	text-align: center;
	background-color: #193b3b;
	color: rgb(199, 33, 33);
  padding: 10px 30px 50px 80px;
	font-size: 28px;
	font-family: 'Indie Flower', cursive;
}

table {
	border-collapse: collapse;
	text-align: center;
}

th, td {
	padding: 10px;
	border: 2px #666 solid;
	text-align: center;
	width: 20%;
	text-align: center;
}

#free, .pickedBG {
	background-color: rgb(17, 5, 5);
	text-align: center;
}

.winningBG {
	animation-play-state: running;
}